{% extends '/../../views/base_dashboard.html' %}

{% block title %}
Messagerie
{% endblock %}

{% block navtitle %}
Messagerie
{% endblock %}

{% block body %}

<section>
  <div class="container">
    <div class="row">
      <h2 style="text-align: center">Messagerie - Vos discussions</h2>
    </div>
    <div class="row" id="contacts" style="text-align: center">
      <i id="contacts-wait" class="fas fa-circle-notch fa-spin fa-2x"></i>
    </div>
    <div class="row" id="nocontact" style="display: none">
      <h3 style="text-align: center">Vous n'avez pas encore de discussion !</h3>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(function() {
    getUserContacts();
  });
</script>

{% endblock %}
