{% extends '/../../views/base_dashboard.html' %}

{% block title %}
Messagerie
{% endblock %}

{% block navtitle %}
Messagerie
{% endblock %}

{% block body %}

<section>
  <div class="container">
    <div class="row text-center">
      <h2>Messagerie - Vos discussions</h2>
    </div>
    <div class="row text-center" id="contacts">
      <i id="contacts-wait" class="fas fa-circle-notch fa-spin fa-2x"></i>
    </div>
    <div class="row text-center" id="nocontact" style="display: none">
      <h3>Vous n'avez pas encore de discussion !</h3>
    </div>

    <div class="row">
      <h2 class="text-center">Trouver un contact</h2>
    </div>
    <div class="row text-center">
      <form class="form">
        <input type="text" class="form-field" name="contact-search" id="contact-search" placeholder="Ex: John Doe">
        <button id="btn-search" type="button" class="btn btn-primary">
          Chercher <i id="wait-searching" class="fas fa-circle-notch fa-spin" style="display: none"></i>
        </button>
      </form>
    </div>
    <div class="row">
      <table class="mx-auto">
        <thead>
          <tr>
            <th>Nom / Prénom</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="contact-list">
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(function() {
    getUserContacts();

    $('#btn-search').on('click', function() {
      searchContact($('#contact-search').val());
    });
  });
</script>

{% endblock %}
