{% extends '/../../views/base_dashboard.html' %}

{% block title %}
Forums
{% endblock %}

{% block navtitle %}
Forums
{% endblock %}

{% block body %}

<section>
  <div class="container">
    <div class="row text-center">
      <h2>Forums</h2>
    </div>
    <div class="row text-center" id="forums-wait">
      <i class="fas fa-circle-notch fa-spin fa-2x"></i>
    </div>
    <div class="row text-center" id="noforums" style="display: none">
      <h3>Il n'y a pas encore de forum disponible !</h3>
    </div>
    <div class="row" id="forums">
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(function() {
    getCategories();
  });
</script>

{% endblock %}
