root = true

# All Files
[*]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
end_of_line              = lf
charset                  = utf-8
indent_size              = 4

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Web Files
[*.{htm,html,js,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size              = 2

[*.{inc,php,phpt,xml}]
indent_size              = 4