<!DOCTYPE html>
<html>
  <head>
    <title>Testify Dashboard - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/appsy_project/styles/testify_dashboard.css">
    <link rel="stylesheet" href="/appsy_project/vendor/noty/noty.css">
    <link rel="stylesheet" href="/appsy_project/vendor/noty/themes/metroui.css">
    <link rel="stylesheet" href="/appsy_project/vendor/fontawesome/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">

    {% block styles %}
    {% endblock %}
  </head>
  <body>

    <nav class="side-nav">
      <a href="/appsy_project/dashboard">
        <img src="/appsy_project/images/logo_testify.png" width="70px" height="70px">
      </a>

      <div class="nav-menu" id="home-nav">
        <div class="nav-element">
          <a href="/appsy_project/dashboard">
            <i class="fas fa-home"></i>
            Accueil
          </a>
        </div>
        <div class="nav-element" id="wait-nav">
          <a href="#">
            <i class="fas fa-circle-notch fa-spin"></i>
          </a>
        </div>
        <div class="nav-element" id="tests-nav" style="display: none">
          <a href="/appsy_project/dashboard/tests">
            <i class="fas fa-tasks"></i>
            Tests
          </a>
        </div>
        <div class="nav-element" id="subjects-nav" style="display: none">
          <a href="/appsy_project/dashboard/subjects">
            <i class="fas fa-users"></i>
            Sujets
          </a>
        </div>
        <div class="nav-element" id="examiners-nav" style="display: none">
          <a href="/appsy_project/dashboard/examiners">
            <i class="fas fa-users-cog"></i>
            Examinateurs
          </a>
        </div>

        <div class="nav-element nav-bottom" id="chat-nav">
          <a href="/appsy_project/dashboard/forum">
            <i class="fas fa-comments"></i>
            Forums
          </a>
        </div>
        <div class="nav-element" id="chat-nav">
          <a href="/appsy_project/dashboard/chat">
            <i class="fas fa-comment-dots"></i>
            Messagerie
          </a>
        </div>
        <div class="nav-element" id="logout-nav">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </nav>

    <div class="main">
      <nav class="header-nav">
        <h1>{% block navtitle %}{% endblock %}</h1>
      </nav>

      {% block body %}
      {% endblock %}

    </div>

    <script type="text/javascript" src="/appsy_project/vendor/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/appsy_project/vendor/noty/noty.min.js" ></script>
    <script type="text/javascript" src="/appsy_project/scripts/dashboard.js" ></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
