<!DOCTYPE html>
<html>
  <head>
    <title>Testify - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/appsy_project/styles/testify.css">
    <link rel="stylesheet" href="/appsy_project/vendor/noty/noty.css">
    <link rel="stylesheet" href="/appsy_project/vendor/noty/themes/metroui.css">
    <link rel="stylesheet" href="/appsy_project/vendor/fontawesome/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">

    {% block styles %}
    {% endblock %}
  </head>
  <body>

    <nav class="header-nav">
      <a href="/appsy_project">
        <img src="/appsy_project/images/logo_testify.png" width="70px" height="70px" style="margin-left: 10px">
      </a>
      <h1>{% block navtitle %}{% endblock %}</h1>
      <ul class="btn-group-1">
        <li><a href="inscription">Inscription</a></li>
        <li><a href="connexion">Connexion</a></li>
      </ul>
    </nav>

    {% block body %}
    {% endblock %}

    <footer>
      <p>
        <a href="conditions_generales_de_ventes.html">Conditions générales de ventes</a> &#xa9; 2019, Testify.fr Powered by our own skills
      </p>
    </footer>

    <script type="text/javascript" src="/appsy_project/vendor/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/appsy_project/vendor/noty/noty.min.js" ></script>
    <script type="text/javascript" src="/appsy_project/scripts/main.js" ></script>
    <script type="text/javascript" src="/appsy_project/scripts/scrolling.js" ></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
