{% extends 'base_dashboard.html' %}

{% block title %}
{{ translate 'DASHBOARD_ADMIN_TITLE' }}
{% endblock %}

{% block navtitle %}
{{ translate 'DASHBOARD_ADMIN_TITLE' }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/tabs.css">
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="tab row">
    <button type="button" class="tablinks" data-tab="user-tab">{{ translate 'DASHBOARD_ADMIN_USERTAB' }}</button>
    <button type="button" class="tablinks" data-tab="tickets-tab">{{ translate 'DASHBOARD_ADMIN_TICKETSTAB' }}</button>
    <button type="button" class="tablinks" data-tab="forum-tab">{{ translate 'DASHBOARD_ADMIN_FORUMTAB' }}</button>
    <button type="button" class="tablinks" data-tab="faq-tab">{{ translate 'DASHBOARD_ADMIN_FAQTAB' }}</button>
  </div>
  <div id="user-tab" class="row tabcontent">
    <div class="d-flex" style="justify-content: end; margin-bottom: 15px">
      <button type="button" class="btn btn-success btn-sm btn-new-member" style="margin-right: 5px">
        <i class="fas fa-plus"></i> {{ translate 'DASHBOARD_ADMIN_INVITEBTN' }}
      </button>
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom: 15px">
      <form class="form" style="width: 100%;margin: 0 55px">
        <input type="text" style="width: 100%" class="form-field" name="member-search" id="member-search" placeholder="Ex: John Doe">
      </form>
    </div>
    <div class="d-flex justify-content-center">
      <table class="mx-auto">
        <thead>
          <tr>
            <th>{{ translate 'DASHBOARD_ADMIN_SEARCH_NAME' }}</th>
            <th>{{ translate 'DASHBOARD_ADMIN_SEARCH_EMAIL' }}</th>
            <th>{{ translate 'DASHBOARD_ADMIN_SEARCH_ROLE' }}</th>
            <th>{{ translate 'DASHBOARD_ADMIN_SEARCH_BANNED' }}</th>
            <th>{{ translate 'DASHBOARD_ADMIN_SEARCH_ACTIONS' }}</th>
          </tr>
        </thead>
        <tbody id="member-list">
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" id="wait-search-member" style="margin-top: 15px">
      <i class="fas fa-circle-notch fa-spin fa-2x"></i>
    </div>
  </div>
  <div id="tickets-tab" class="row tabcontent">
    Tickets Tab
  </div>
  <div id="forum-tab" class="row tabcontent">
    Forum Tab
  </div>
  <div id="faq-tab" class="row tabcontent">
    FAQ Tab
  </div>
</div>

<div id="modal-new-member" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{ translate 'DASHBOARD_ADMIN_INVITE_TITLE' }}</h2>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <form class="form">
          <div class="row" style="margin-bottom: 10px">
            <label class="col-4 col-form-label" for="member-email">{{ translate 'DASHBOARD_ADMIN_INVITE_EMAIL' }}</label><br>
            <input type="email" class="form-field col-8" name="member-email" id="member-email" placeholder="">
          </div>
          <div class="row" style="margin-bottom: 10px">
            <label class="col-4 col-form-label" for="member-firstname">{{ translate 'DASHBOARD_ADMIN_INVITE_FIRSTNAME' }}</label><br>
            <input type="text" class="form-field col-8" name="member-firstname" id="member-firstname" placeholder="">
          </div>
          <div class="row" style="margin-bottom: 10px">
            <label class="col-4 col-form-label" for="member-lastname">{{ translate 'DASHBOARD_ADMIN_INVITE_LASTNAME' }}</label><br>
            <input type="text" class="form-field col-8" name="member-lastname" id="member-lastname" placeholder="">
          </div>
          <div class="row" style="margin-bottom: 10px">
            <label class="col-4 col-form-label" for="member-role">{{ translate 'DASHBOARD_ADMIN_INVITE_ROLE' }}</label><br>
            <select class="form-field col-8" name="member-role" id="member-role">
              <option value="0" selected>Utilisateur</option>
              <option value="1">Examinateur</option>
              <option value="2">Administrateur</option>
             </select>
          </div>
          <div class="row">
            <label class="col-4 col-form-label" for="mail-lang">{{ translate 'DASHBOARD_ADMIN_INVITE_LANG' }}</label><br>
            <select class="form-field col-8" name="mail-lang" id="mail-lang">
              <option value="en" selected>English</option>
              <option value="fr">Français</option>
             </select>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-success btn-sm" id="btn-invite-member">
        <i class="fas fa-plus"></i> {{ translate 'DASHBOARD_ADMIN_INVITE_ADDBTN' }} <i id="wait-invite-member" class="fas fa-circle-notch fa-spin" style="display: none"></i>
      </button>
    </div>
  </div>
</div>

<div id="modal-confirm-edit" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{ translate 'DASHBOARD_ADMIN_FASTEDIT_CONFIRM_TITLE' }}</h2>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-6 d-flex justify-content-center">
          <button type="button" class="btn btn-success" id="btn-confirm-edit">
            <i class="fas fa-check"></i> {{ translate 'DASHBOARD_ADMIN_FASTEDIT_CONFIRMBTN' }}
          </button>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <button type="button" class="btn btn-danger" id="btn-cancel-edit">
            <i class="fas fa-ban"></i> {{ translate 'DASHBOARD_ADMIN_FASTEDIT_CANCELBTN' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<table id="member-template" class="d-none">
  <tr>
    <td class="member-name"></td>
    <td class="member-email"></td>
    <td class="member-role"></td>
    <td class="member-banned"></td>
    <td width="15%">
      <button class="btn btn-primary btn-sm">
        <i class="fas fa-edit"></i>
      </button>
      <button class="btn btn-danger btn-sm">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>
</table>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/scripts/modal.js" ></script>
<script type="text/javascript" src="/scripts/tabs.js" ></script>
<script type="text/javascript" src="/scripts/dashboard-admin.js" ></script>

<script>
  $(function() {
    var modal = $('#modal-new-member');

    $("#member-search").bind("input", function () {
      var that = this;
      window.clearTimeout($(this).data('timeout'));
      $(this).data('timeout', setTimeout(function () {
        searchMember($(that).val());
      }, 500));
    });

    $('.btn-new-member').on("click", function() {
      modal.showModal();
    });

    $('#btn-cancel-edit').on('click', function() {
      var member_id = $('#modal-confirm-edit').data('id');
      var member_role = $('#modal-confirm-edit').data('role');
      var member_banned = $('#modal-confirm-edit').data('banned');

      if (member_role && !member_banned) {
        var default_role = $('tr[data-id="' + member_id + '"]').find('.member-role select').attr('data-default');
        $('tr[data-id="' + member_id + '"]').find('.member-role option').removeProp('selected');
        $('tr[data-id=' + member_id + ']').find('.member-role option[value=' + default_role + ']').prop('selected', true);
      } else {
        var default_banned = $('tr[data-id="' + member_id + '"]').find('.member-banned select').attr('data-default');
        $('tr[data-id="' + member_id + '"]').find('.member-banned option').removeProp('selected');
        $('tr[data-id=' + member_id + ']').find('.member-banned option[value=' + default_banned + ']').prop('selected', true);
      }
      $('#modal-confirm-edit').closeModal();
    });

    $('#btn-confirm-edit').on('click', function() {
      var member_id = $('#modal-confirm-edit').data('id');
      var member_role = $('#modal-confirm-edit').data('role');
      var member_banned = $('#modal-confirm-edit').data('banned');

      if (member_role && !member_banned)
        fastEditUser(member_id, member_role, null);
      else
        fastEditUser(member_id, null, member_banned);

      $('#modal-confirm-edit').closeModal();
    });

    $('#btn-invite-member').on('click', function() {
      inviteMember(
        $('#member-email').val(),
        $('#member-firstname').val(),
        $('#member-lastname').val(),
        $('#member-role').val(),
        $('#mail-lang').val()
      );
    });

    searchMember($('#member-search').val());

  });
</script>

{% endblock %}
