{% extends 'base_dashboard.html' %}

{% block title %}
{{ translate 'DASHBOARD_CHAT_TITLE' }}
{% endblock %}

{% block navtitle %}
{{ translate 'DASHBOARD_CHAT_TITLE' }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/paginator.css">
{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <h2>{{ translate 'DASHBOARD_CHAT_MAINTITLE' }}</h2>
  </div>
  <div class="row flex-column justify-content-center" id="contacts"></div>
  <div class="row justify-content-center" id="contacts-wait">
    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
  </div>
  <div class="row justify-content-center paginator" id="contact-pagination"></div>

  <div class="row justify-content-center" id="nocontact" style="display: none">
    <h3>{{ translate 'DASHBOARD_CHAT_NODISCUSSION' }}</h3>
  </div>

  <div class="row justify-content-center">
    <h2>{{ translate 'DASHBOARD_CHAT_SEARCHCONTACT' }}</h2>
  </div>
  <div class="row justify-content-center">
    <form class="form">
      <input type="text" class="form-field" name="contact-search" id="contact-search" placeholder="Ex: John Doe">
      <button id="btn-search" type="button" class="btn btn-primary">
        {{ translate 'DASHBOARD_CHAT_SEARCHBTN' }} <i id="wait-searching" class="fas fa-circle-notch fa-spin" style="display: none"></i>
      </button>
    </form>
  </div>
  <div class="row justify-content-center" id="contact-list-row" style="display: none">
    <table class="mx-auto">
      <thead>
        <tr>
          <th>{{ translate 'DASHBOARD_CHAT_TABLE_NAME' }}</th>
          <th>{{ translate 'DASHBOARD_CHAT_TABLE_EMAIL' }}</th>
          <th>{{ translate 'DASHBOARD_CHAT_TABLE_ROLE' }}</th>
          <th>{{ translate 'DASHBOARD_CHAT_TABLE_ACTION' }}</th>
        </tr>
      </thead>
      <tbody id="contact-list">
      </tbody>
    </table>
  </div>
</div>

<div id="contact-template" class="contact row bg-grey d-none" style="display: flex; align-items: center; padding: 10px; margin-bottom: 5px">
  <b></b> : <span style="text-color: gray"></span>
  <a href="" class="btn btn-primary" style="margin-left: auto">
    {{ translate 'DASHBOARD_CHAT_MESSAGESBTN' }}
  </a>
</div>

<table id="contactsearch-template" class="d-none">
  <tr>
    <td class="contact-name"></td>
    <td class="contact-email"></td>
    <td class="contact-role"></td>
    <td><a href="" class="btn btn-primary">
      {{ translate 'DASHBOARD_CHAT_SENDMESSAGEBTN' }}
    </a></td>
  </tr>
</table>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/scripts/paginator.js" ></script>

<script type="text/javascript">
  $(function() {
    var url = new URL(window.location.href);

    var page = url.searchParams.get('page') || 1;
    var contactPageSize = 4;
    var paginatorContacts = new Paginator($('#contact-pagination'));

    paginatorContacts.setOnPaginateChange(function(page) {
      history.pushState({page: page}, '', '?page=' + page);
      getUserContacts(page, contactPageSize, paginatorContacts);
    });

    window.onpopstate = function(event) {
      var page = 1;
      if (event.state !== null)
        page = event.state.page;
      getUserContacts(page, contactPageSize, paginatorContacts);
    };

    getUserContacts(page, contactPageSize, paginatorContacts);

    $('#contact-search').keypress(function (e) {
      if (e.which == 13) {
        searchContact($(this).val());
        return false;
      }
    });
    $('#btn-search').on('click', function() {
      searchContact($('#contact-search').val());
    });
  });
</script>

{% endblock %}
