{% extends 'base_dashboard.html' %}

{% block title %}
{{ translate 'DASHBOARD_FORUM_TITLE' }}
{% endblock %}

{% block navtitle %}
{{ translate 'DASHBOARD_FORUM_TITLE' }}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="offset-5 col-2">
      <h2>{{ translate 'DASHBOARD_FORUM_TITLE' }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="offset-10 col-2">
      <button type="button" class="btn btn-success btn-sm" id="btn-new-category" style="display: none">
        <i class="fas fa-plus"></i> {{ translate 'DASHBOARD_FORUM_ADDCATEGORYBTN' }}
      </button>
    </div>
  </div>
  <div class="row justify-content-center" id="forums-wait">
    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
  </div>
  <div class="row justify-content-center" id="noforums" style="display: none">
    <h3>{{ translate 'DASHBOARD_FORUM_NOCATEGORY' }}</h3>
  </div>
  <div id="forums">
  </div>
</div>

<div id="modal-new-category" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{ translate 'DASHBOARD_FORUM_MODAL_NEWCATEGORY_TITLE' }}</h2>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <form class="form">
          <div class="row">
            <label class="col-4 col-form-label" for="category-name">{{ translate 'DASHBOARD_FORUM_MODAL_NAME' }}</label><br>
            <input type="text" class="form-field col-8" name="category-name" id="category-name" placeholder="{{ translate 'DASHBOARD_FORUM_MODAL_NAME_EXAMPLE' }}">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-success btn-sm" id="btn-create-category">
        <i class="fas fa-plus"></i> {{ translate 'DASHBOARD_FORUM_MODAL_ADDBTN' }} <i id="wait-creating-category" class="fas fa-circle-notch fa-spin" style="display: none"></i>
      </button>
    </div>
  </div>
</div>

<div id="category-first-template" class="row d-none">
  <h2 class="col-3"><b class="category-title"></b></h2>
  <h5 class="offset-5 col-2" style="align-self: end; margin-bottom: 0">Posts: <span class="category-posts"></span></h5>
  <h5 class="col-2" style="align-self: end; margin-bottom: 0"><b class="category-date">${category.updated_at}</b></h5>
</div>
<div id="category-second-template" class="row d-none">
  <a href="/dashboard/forum/category/${category.id}" class="btn btn-primary" style="margin-left: auto">
    {{ translate 'DASHBOARD_FORUM_GOPOSTSBTN' }}
  </a>
  <button class="btn btn-danger" style="margin-left: 5px">
    <i class="fas fa-trash-alt"></i>
  </button>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/scripts/modal.js" ></script>

<script type="text/javascript">
  $(function() {
    var modal = $('#modal-new-category');

    // Admin actions
    var btnNewCategory = $('#btn-new-category');
    var btnsDeleteCategory = $('.btn-delete-category');

    var user = JSON.parse(localStorage.getItem('user'));

    if (user.role >= 2) {
      btnNewCategory.show();
      btnsDeleteCategory.show();
    }

    getCategories();

    btnNewCategory.on("click", function() {
      modal.showModal();
    });
    $('#btn-create-category').on('click', function() {
      createCategory();
    });
  });
</script>

{% endblock %}
