{% extends 'base_dashboard.html' %}

{% block title %}
{{ translate 'DASHBOARD_FORUM_TITLE' }}
{% endblock %}

{% block navtitle %}
{{ translate 'DASHBOARD_FORUM_TITLE' }}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="offset-5 col-2">
      <h2>{{ translate 'DASHBOARD_FORUM_TITLE' }}</h2>
    </div>
  </div>
  <div class="row justify-content-center" id="forums-wait">
    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
  </div>
  <div class="row justify-content-center" id="noforums" style="display: none">
    <h3>{{ translate 'DASHBOARD_FORUM_NOCATEGORY' }}</h3>
  </div>
  <div id="forums">
  </div>
</div>

<div id="category-first-template" class="row d-none">
  <h2 class="col-3"><b class="category-title"></b></h2>
  <h5 class="offset-5 col-2" style="align-self: end; margin-bottom: 0">Posts: <span class="category-posts"></span></h5>
  <h5 class="col-2" style="align-self: end; margin-bottom: 0"><b class="category-date">${category.updated_at}</b></h5>
</div>
<div id="category-second-template" class="row d-none">
  <a href="/dashboard/forum/category/${category.id}" class="btn btn-primary" style="margin-left: auto">
    {{ translate 'DASHBOARD_FORUM_GOPOSTSBTN' }}
  </a>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/scripts/modal.js" ></script>

<script type="text/javascript">
  $(function() {

    getCategories();

  });
</script>

{% endblock %}
