{% extends 'base_dashboard.html' %}

{% block title %}
{{ translate 'DASHBOARD_HOME_TITLE' }}
{% endblock %}

{% block navtitle %}
{{ translate 'DASHBOARD_HOME_TITLE' }}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <h2>Dashboard</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <canvas id="usageChart" width="400" height="150"></canvas>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script type="text/javascript">
  var ctx = document.getElementById('usageChart').getContext('2d');
  var usageChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['01/11/19', '10/11/10', '29/11/19', '15/12/19'],
          datasets: [{
            label: ["Nombre de tests passés"],
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            data: [70,75,73,70],
            fill: false
          }]
      }
  });
</script>
{% endblock %}
