<!DOCTYPE html>
<html>
  <head>
    <title>Testify - Page introuvable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/testify.css">
    <link rel="stylesheet" href="/vendor/fontawesome/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  </head>
  <body>

    <div class="container-fluid">
      <h1 style="text-align: center; font-size: 5em">404</h1>
      <h1 style="text-align: center">Oops, la page n'a pas été trouvée !</h1>
      <h2 style="text-align: center">
        La page que vous cherchez n'existe pas ou plus. Revenez en arrière ou
        <a href="/">revenez à l'accueil</a>
      </h2>
    </div>

    <footer>
      <p>
        <a href="/conditions_generales_de_ventes">Conditions générales de ventes</a> &#xa9; 2019, Testify.fr Powered by our own skills
      </p>
    </footer>
  </body>
</html>
