{% extends 'base_home.html' %}

{% block title %}
{{ translate 'HOME_TABTITLE_HOME' }}
{% endblock %}

{% block navtitle %}
{{ translate 'HOME_NAVTITLE_HOME' }}
{% endblock %}

{% block body %}

<!--Boutons de la barre de navigation-->
<div class="navigation">
  <ul class="btn-group-2">
    <li><a href="#product">{{ translate 'HOME_MENU_PRODUCT' }}</a></li>
    <li><a href="#offers">{{ translate 'HOME_MENU_OFFERS' }}</a></li>
    <li><a href="#clients">{{ translate 'HOME_MENU_CLIENTS' }}</a></li>
    <li><a href="#review">{{ translate 'HOME_MENU_REVIEW' }}</a></li>
    <li><a href="#client">Infinite Measures</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</div>

<div class="container-fluid">

  <section id="product">
    <div class="row">
      <div class="col-6 d-flex justify-content-end">
        <img src="/images/logo_testify.png" width="300px">
      </div>
      <div class="col-6">
        <br>
      <br>
        <p> <strong>Testify</strong> est un service destiné à la réalisation d’un système de mesures psychotechniques,
          dans le cadre de la formation et de l’évaluation des compétences de conducteurs et pilotes.</p>

        <p>
          Grâce à Testify il vous sera possible de lancer les tests de réflexes psychotechniques de
          manière organisé et simplifié grâce à ses fonctionnalités, en plus de cela, Testify permet une
          gestion et une communication des données entre le système et ses utilisateurs. Testify est un service
          connecté et reconfigurable, il s'adapte parfaitement à vos besoins.
        </p>
      </div>
    </div>
  </section>

  <section id="offers" class="bg-grey">
    <div class="row">
      <div class="col-6">
        <h3>Nos offres</h3>
        <p>
          Notre centre de réservation de tests psychotechniques recense tous les examens psychotechniques
          agréés par les préfectures françaises dans le cadre d’un nouveau permis, suspendu ou permis annulé. Cette étape
          est obligatoire pour pouvoir récupérer le permis de conduire !
        </p>
      </div>
      <div class="col-6">
        <table>
          <tr>
            <th>Temps</th>
            <th>Prix</th>
            <th>Prix par mois</th>
          </tr>
          <tr>
            <td>1 ans</td>
            <td>2000€</td>
            <td>166€</td>
          </tr>
          <tr>
            <td>3 ans</td>
            <td>5000€</td>
            <td>138€</td>
          </tr>
          <tr>
            <td>5 ans</td>
            <td>7000€</td>
            <td>116€</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section id="clients">
    <div class="col-6 d-flex justify-content-end">
      <img src="/images/handshake.png" height="250px">
    </div>
    <div class="col-6">
      <h3>Nos clients</h3>
      <p>Déjà 12 centre de formation et 8 auto-écoles nous font confiance pour plus de 18 000 utilisateurs !</p>
      <p>Notre système s’adresse aux auto-écoles et aux centres de formation de conducteurs de trains ou d’engins de chantier et de grutiers.</p>
      <p>
        Nous recevons des clients devons passer des tests psychotechniques quelles que soit leurs motifs. Du nouveau conducteur au conducteur
        invalidé de permis, vous pourrez bénéficier avec Testify de tests rapide, adapté et sécurité afin de vous offrir la meilleure expérience possible.
      </p>
    </div>
  </section>

  <section id="review" class="bg-grey">
    <div class="col-6">
      <h3>On en parle</h3>
      <p>
        A travers la France Testify est devenue la référence du test psychotechnique. Vous constaterez à travers
        les réseaux sociaux tous les retours positif que nous recevons quotidiennement. Ainsi, nos taux de satisfaction élevées
        sont le reflétet de nos démarches simples et rapide.
      </p>
    </div>
    <div class="col-6">
      <img src="/images/logo_appsy.png" height="250px">
    </div>
  </section>

  <section id="client">
    <div class="col-6 d-flex justify-content-end">
      <img src="/images/Infinite_measures.png" height="250px">
    </div>
    <div class="col-6">
      <h3>Infinite Measures</h3>
      <p>Description de l'entreprise et quelques chiffres clés.</p>
      <p>
        à discuter avec le client.
      </p>
    </div>
  </section>

</div>

{% endblock %}
