{% extends 'base_home.html' %}

{% block title %}
{{ translate 'HOME_TABTITLE_HOME' }}
{% endblock %}

{% block navtitle %}
{{ translate 'HOME_NAVTITLE_HOME' }}
{% endblock %}

{% block body %}

<!--Boutons de la barre de navigation-->
<div class="navigation">
  <ul class="btn-group-2">
    <li><a href="#product">{{ translate 'HOME_MENU_PRODUCT' }}</a></li>
    <li><a href="#offers">{{ translate 'HOME_MENU_OFFERS' }}</a></li>
    <li><a href="#clients">{{ translate 'HOME_MENU_CLIENTS' }}</a></li>
    <li><a href="#review">{{ translate 'HOME_MENU_REVIEW' }}</a></li>
    <li><a href="#client">Infinite Measures</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</div>

<div class="container-fluid">

  <section id="product">
    <div class="row">
      <div class="col-6 d-flex justify-content-end">
        <img src="/images/logo_testify.png" width="300px">
      </div>
      <div class="col-6">
        <h3>Testify</h3>
        <p>Description du produit</p>
        <p> Nam ut justo eget quam aliquam bibendum nec et erat. Praesent aliquet justo at eros pellentesque sollicitudin.
          Proin pharetra scelerisque tempus. Phasellus consequat, elit semper finibus fringilla, enim urna scelerisque sapien, nec aliquet
          ligula eros id libero. Nullam ut gravida quam, sit amet commodo quam. Donec egestas tortor vel lorem vulputate, ut vulputate nisi blandit.
          Sed commodo varius augue eget fringilla. Nam ut justo eget quam aliquam bibendum nec et erat. Nam ut justo eget quam aliquam bibendum nec et erat.
          Nam ut justo eget quam aliquam bibendum nec et erat.
        </p>
      </div>
    </div>
  </section>

  <section id="offers" class="bg-grey">
    <div class="row">
      <div class="col-6">
        <h3>Nos offres</h3>
        <p>Achat définitif X€</p>
        <p>Mise à jour X€</p>
        <p>Location</p>
      </div>
      <div class="col-6">
        <table>
          <tr>
            <th>Temps</th>
            <th>Prix</th>
            <th>Prix par mois</th>
          </tr>
          <tr>
            <td>1 ans</td>
            <td>X€</td>
            <td>X€</td>
          </tr>
          <tr>
            <td>3 ans</td>
            <td>X€</td>
            <td>X€</td>
          </tr>
          <tr>
            <td>5 ans</td>
            <td>X€</td>
            <td>X€</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section id="clients">
    <div class="col-6 d-flex justify-content-end">
      <img src="/images/logo_appsy.png" height="250px">
    </div>
    <div class="col-6">
      <h3>Nos clients</h3>
      <p>Déjà X clients</p>
      <p>auto écoles et centres de formations</p>
      <p>étoiles intéractives</p>
      <p> Nam ut justo eget quam aliquam bibendum nec et erat. Praesent aliquet justo at eros pellentesque sollicitudin.
        Proin pharetra scelerisque tempus. Phasellus consequat, elit semper finibus fringilla, enim urna scelerisque sapien, nec aliquet
        ligula eros id libero. Nullam ut gravida quam, sit amet commodo quam. Donec egestas tortor vel lorem vulputate, ut vulputate nisi blandit.
        Sed commodo varius augue eget fringilla. Nam ut justo eget quam aliquam bibendum nec et erat. Nam ut justo eget quam aliquam bibendum nec et erat.
        Nam ut justo eget quam aliquam bibendum nec et erat.
      </p>
    </div>
  </section>

  <section id="review" class="bg-grey">
    <div class="col-6">
      <h3>On en parle</h3>
      <p>Titres articles :
      </p>
      <p> Nam ut justo eget quam aliquam bibendum nec et erat. Praesent aliquet justo at eros pellentesque sollicitudin.
        Proin pharetra scelerisque tempus. Phasellus consequat, elit semper finibus fringilla, enim urna scelerisque sapien, nec aliquet
        ligula eros id libero. Nullam ut gravida quam, sit amet commodo quam. Donec egestas tortor vel lorem vulputate, ut vulputate nisi blandit.
        Sed commodo varius augue eget fringilla. Nam ut justo eget quam aliquam bibendum nec et erat. Nam ut justo eget quam aliquam bibendum nec et erat.
        Nam ut justo eget quam aliquam bibendum nec et erat.
      </p>
    </div>
    <div class="col-6">
      <img src="/images/logo_appsy.png" height="250px">
    </div>
  </section>

  <section id="client">
    <div class="col-6 d-flex justify-content-end">
      <img src="/images/Infinite_measures.png" height="250px">
    </div>
    <div class="col-6">
      <h3>Infinite Measures</h3>
      <p>Description de l'entreprise et quelques chiffres clés.</p>
      <p> Nam ut justo eget quam aliquam bibendum nec et erat. Praesent aliquet justo at eros pellentesque sollicitudin.
        Proin pharetra scelerisque tempus. Phasellus consequat, elit semper finibus fringilla, enim urna scelerisque sapien, nec aliquet
        ligula eros id libero. Nullam ut gravida quam, sit amet commodo quam. Donec egestas tortor vel lorem vulputate, ut vulputate nisi blandit.
        Sed commodo varius augue eget fringilla. Nam ut justo eget quam aliquam bibendum nec et erat. Nam ut justo eget quam aliquam bibendum nec et erat.
        Nam ut justo eget quam aliquam bibendum nec et erat.
      </p>
    </div>
  </section>

</div>

{% endblock %}
