@import 'buttons.css';

/* Style par défault du texte */
* {
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #004570;
}

footer p,
a {
  text-decoration: none;
}

.page_accueil {
  display: flex;
  align-items: center;
}

/* Style pour l'entête d'accueil, logo, titre et boutons */
.header-nav {
  background-color: #004570;
  color: white;

  /* Pour que la banière reste en haut lorsque l'on scroll */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.header-nav > h1 {
  margin-right: auto;
  color: inherit;
}

.header-nav > ul {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

/* Style de la barre de navigation */
.navigation {
  position: sticky;
  top: 70px;
  background-color: #004e86;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Style pour les tableaux (à optimiser) */
table,
tr,
td,
th {
  text-align: center;
  border-bottom: solid #004e86 1px;
  border-top: solid #004e86 1px;
  margin-left: 100px;
  border-collapse: collapse;
}

table {
  border: solid #004e86 1px;
  width: 400px;
  height: 170px;
}

th {
  background-color: #004e86;
  color: white;
}

/* Style pour les zones de texte */
section {
  z-index: -1; /* Gere la disposition par rapport aux autres éléments */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #004570 1px;
  border-bottom: none;
  margin: 0 100px 0 100px;
  padding: 40px 50px 40px 50px;
  overflow: auto;
}

section div {
  padding-right: 90px;
  padding-left: 90px;
}



/* Style pour le bas de page */
footer {
  display: flex;
  background-color: #004570;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1;
  left: 0;
  right: 0;
  height: 50px;
  color: white;
  margin-top: auto;
}

footer a {
  color: inherit;
}