/* Style par défault du texte */
* {
  color: #004570;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

footer p,
a {
  color: white;
  text-decoration: none;
}

.page_accueil {
  display: flex;
  align-items: center;
}

/* Style pour l'entête d'accueil, logo, titre et boutons */
.header-nav {
  background-color: #004570;

  /* Pour que la banière reste en haut lorsque l'on scroll */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.header-nav > h1 {
  margin-right: auto;
  color: white;
}

.header-nav > ul {
  margin-top: auto;
  margin-bottom: auto;
}

/* Style de la barre de navigation */
.navigation {
  position: sticky;
  top: 70px;
  background-color: #004e86;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Met les boutons en haut à droite */
.btn-group-1 {
  margin-top: 0;
  margin-right: 0;
}

.btn-group-1 li {
  width: 140px;
  height: 25px;
  float: right;
  display: inline;
  background-color: #004570;
  border: solid white 1px;
  text-align: center;
}

/* Boutons en haut de page */
.btn-group-2 li {
  width: 140px;
  height: 25px;
  float: right;
  display: inline;
  background-color: #004e86;
  text-align: center;
  font-size: 16px;
}

li a {
  display: block;
  margin-top: 3px;
  padding-bottom: 20px;
}

li:first-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

li:last-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

/* Met les boutons en surbrillance (blanc) lorsqu'on passe la sourie dessus */
li:hover {
  background-color: white;
}

li a:hover {
  color: black;
}

/* Rajoute un effet dynamique d'enfoncement lorsque le bouton est pressé */
li:active {
  background-color: white;
  transform: translateY(4px);
}

/* Style pour les tableaux (à optimiser) */
table,
tr,
td,
th {
  text-align: center;
  border-bottom: solid #004e86 1px;
  border-top: solid #004e86 1px;
  margin-left: 100px;
  border-collapse: collapse;
}

table {
  border: solid #004e86 1px;
  width: 400px;
  height: 170px;
}

th {
  background-color: #004e86;
  color: white;
}

/* Style pour les zones de texte */
section {
  z-index: -1; /* Gere la disposition par rapport aux autres éléments */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #004570 1px;
  border-bottom: none;
  margin: 0 200px 0 200px;
  padding: 40px 150px 40px 150px;
}

section div {
  padding-right: 120px;
  padding-left: 120px;
}

/* Style pour le bas de page */
footer {
  display: flex;
  background-color: #004570;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 50px;
}

/* Dans l'attente d'un meilleur responsive design ! */
nav,
.navigation,
section {
  min-width: 800px;
}
