/*Style par défault du texte*/
*{
	color:  #004570;
	font-family: 'Lato', sans-serif;
}

.page_accueil{
	display: flex;
	align-items: center;
}


/*Style pour l'entête d'accueil, logo, titre et boutons*/
nav {
	background-color: #004570;
	/*optimiser : La banière ne s'étend pas sur tout la page, il faut ruser box-shadow rajoute un background ou trouver comment faire;*/
	box-shadow: 0 10px 0 10px #004570; 
	position: sticky;
	top:0;
	display: flex;
	justify-content: space-between;
}


nav h1 {
	margin-right: auto;
	color:white;
}


/*Style de la barre de navigation*/
.navigation{
	position:sticky;
	top: 75px;
	background-color: #004e86;
	/*optimiser : La banière ne s'étend pas sur tout la page, il faut ruser box-shadow rajoute un background ou trouver comment faire;*/
	box-shadow:  0 1px 0px 8px #004e86; 
	display: flex;
	align-items: center;
	justify-content: center;
}

/*boutons en haut de page*/
.btn-group-1 button{
	background-color: #004570;
	border: solid white 1px;
	color: white;
	text-align: center;
	float:right;

}


/*Boutons pour la navigation*/
.btn-group-2 button{
	background-color: #004e86;
	border: none;
	text-align:center;
	color:white;	
	float:left;
}

button{
	width:120px;
	height: 30px;
	font-size:14px;
	border-radius:8px;
}

/*Met les boutons en surbrillance (blanc) lorsqu'on passe la sourie dessus*/
button:hover{
	width: 120px;
	height:50px;
	background-color: white;
	color:black;
}

/*Rajoute un effet dynamique d'enfoncement lorsque le bouton est pressé*/
button:active {
	background-color: white;
	transform: translateY(4px);
}


/*Style pour les tableaux (à optimiser)*/
table,tr,td,th{
	text-align: center;
	border-bottom:solid #004e86 1px;
	border-top: solid #004e86 1px;
	margin-left:100px;
	border-collapse: collapse;
}

table{
	border: solid #004e86 1px ;
	width: 400px;
	height:170px;
}

th{
	background-color:#004e86;
	color:white;
}

/*Style pour les zones de texte*/
section {
	z-index: -1; /*Gere la disposition par rapport aux autres éléments*/
	display: flex;
	justify-content:space-around;
	align-items:center;
	border: solid #004570 1px;
	border-bottom: none;
	margin: 0 200px 0 200px;
	padding: 40px 150px 40px 150px;
}

section div{
	padding-right: 120px;
	padding-left: 120px;
}

/*Style pour le bas de page*/
footer{
	background-color: #004570;
	align-items:center;
	text-align: center;
	position: relative;
	top:-10px;
	/*optimiser : La banière ne s'étend pas sur tout la page, il faut ruser box-shadow rajoute un background ou trouver comment faire;*/
	box-shadow: 0 1px 0 30px #004570; 
}

footer p,a{
	color:white;
	text-decoration:none;
}

/*Dans l'attente d'un meilleur responsive design !*/
nav,.navigation,section{
	min-width:800px;
}



